.header {
    /*background-color: #96efc0;*/
    background-image: linear-gradient(to right, #96efc0, #73baff);
    font-family: Helvetica, sans-serif;
}

.header__content {
    box-sizing: border-box;
    max-width: 1215px;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header__logo, .header__user {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    /*margin-left: 48px;*/
}

.header__user{

}
