.task {
    font-family: Helvetica, sans-serif;
    padding: 1px 37px 1px 12px;
    border-radius: 3px;
    border-left: 1px solid rgba(0,0,0,.3);
    border-right: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-top: .5px solid rgba(0,0,0,.1);
    box-sizing: border-box;
}


.task:hover {
    border: 1px solid #97e3cc;
    /*filter: drop-shadow(0px 1px 2px #97e3cc);*/
}

.task__content {
    margin-bottom: 12px;
    margin-top: 13px;
    position: relative;
}
