.button:hover{
    cursor: pointer;
}

.button_square {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
}

.button_oval {
    background-color: #52d4ae;
    border-radius: 20px;
    color: #fff;
    padding: 7px 5px;
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.button_oval:disabled {
    background-color: #a4a4a7;
    cursor: auto;
}