.form__field {
    display: inline-block;
    width: calc(40% - 27px);
    margin-right: 3px;
    margin-bottom: 15px;
    margin-left: 3px;
}

.form__button {
    display: inline-block;
    width: 130px;
}

.todo-task {
    margin-bottom: 1px;
}

.todo-task:last-child {
    margin-bottom: 0;
}

.todo-task__text-input {
    width: 95%;
    max-width: calc(95% - 40px);
    margin-left: 25px;
}

.todo-task__description {
    margin-left: 25px;
}

.todo-task__radio-btn,
.todo-task__edit-btn,
.todo-task__basket-btn
{
    display: none;
}

.todo-task:hover .todo-task__radio-btn{
    display: block;
}

.todo-task__edit-btn {
    position: absolute;
    right: 20px;
    top: -3px;
    z-index: 999;
}

.todo-task:hover .todo-task__edit-btn{
    display: block;
}

.todo-task__save-btn {
    position: absolute;
    right: 20px;
    top: -3px;
    z-index: 999;
}


.todo-task__basket-btn {
    position: absolute;
    right: -13px;
    display: none;
    z-index: 999;
}

.todo-task:hover .todo-task__basket-btn{
    display: block;
    top: -3px;
}
