.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    max-width: 1223px;
    padding: 0;
    margin: 0 auto;
}

.main__nav {
    box-sizing: border-box;
    padding: 23px 0 0;
    max-width: 160px;
    justify-self: stretch;
}

.main__content {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 20px 0 0;
    background-color: #fff;
}
