.radio{
    position: relative;
}
.radio__img{
    position: absolute;
    left: 0;
    z-index: 999;
}

.radio__img_selected{
    position: absolute;
    left: 3px;
    top: 3px;
    display: none;
    z-index: 1000;
}

.radio__img:hover + .radio__img_selected{
    display: block;
}
