.done-task {
    margin-bottom: 1px;
}

.done-task:last-child {
    margin-bottom: 0;
}

.done-task__check-image {
    position: absolute;
}

.done-task__description {
    margin-left: 25px;
}

.done-task__basket-btn {
    position: absolute;
    right: -13px;
    display: none;
    z-index: 999;
}

.done-task:hover .done-task__basket-btn{
    display: block;
    top: -3px;
}
