.form-field {
  box-sizing: border-box;
  display: block;
  border: none;
  border-bottom: solid 1px #97e3cc;
  padding: 5px 2px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #afafaf;
}

.form-field:focus {
  outline: none;
  color: #2c2c2c;
}
