.nav {
    width: 100%;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__point {
    margin-bottom: 20px;
    margin-left: 0;
    text-align: left;
}

.nav__link {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #979797;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav__link:hover{
    color: #838383;
}

.nav__link_active, .nav__link_active:hover {
    color: #79c2f5;
}

.nav__icon {
    margin-right: 8px;
    display: block;
    width: 20px;
    height: 20px;
}

.nav__icon_todo {
    background-image: url(./todo.png);
}

.nav__icon_done {
    /*background-image: -Webkit-image-set(url(./done.png) 1x, url(./done@2x.png) 2x);*/
    background-image: url(./done.png);
}

.nav__link:hover .nav__icon_done {
    /*background-image: -Webkit-image-set(url(./done_hover.png) 1x, url(./done_hover@2x.png) 2x);*/
    background-image: url(./done_hover.png);
}

.nav__link_active .nav__icon_todo , .nav__link_active:hover .nav__icon_todo {
    background-image: url(./todo_blue.svg);
}

.nav__link_active .nav__icon_done, .nav__link_active:hover .nav__icon_done {
    /*background-image: -Webkit-image-set(url(./done_active.png) 1x, url(./done_active@2x.png) 2x);*/
    background-image: url(./done_active.png);
}